/* Main-Font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
    font-family: 'Tajawal', sans-serif;
    margin-top: 50px;
    background: var(--main);
}
/* Default Colors */
:root {
    --main : #03a9f4
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}
/* User Name Input */
input#username {
    font-weight: 400;
    width: 500px;
    height: 26px;
    outline: none;
    color: #636363;
    border: none;
    background: #fff;
    padding: 10px 28px;
    border-radius: 32px;
    font-family: inherit;
    font-size: 18px;
}
.ex{
    background: linear-gradient(283deg, #fafafa1f, transparent);
    border-radius: 21px;
    padding: 0px 4px;
}
/* Main Top Buttons */
.btns{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#getbutton, #clear, #disable {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all .3s;
    font-family: inherit;
    padding: 5px 18px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    background: #2f2f2f;
    box-shadow: 1px 1px 2px #0006;
}
input#getbutton:hover {
    background: #ffffff;
    color: var(--main);
}
.disabled {
    pointer-events: none;
    background: #e8e8e8!important;
    color: #646464!important;
    opacity: .7;

}
/** Clear Btn **/
a#clear {
    position: relative;
}
a#clear:hover{
    color: #fff;
    background: #2f2f2f;
}
a#clear:after {
    display: none;
    content: "حذف";
    font-weight: 400;
    position: absolute;
    width: max-content;
    font-size: 14px;
    background: #2f2f2f;
    padding: 3px 8px;
    color: #fff;
    left: inherit;
    bottom: -32px;
    border-radius: 6px;
}
a#clear:hover::after{
    display: block;
}
#disable {
    pointer-events: none;
    cursor: no-drop;
    opacity: .5;
}

/* Error Message */
span#error {
    align-items: center;
    background: #a52323;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    right: -280px;
    top: 50px;
    display: flex;
    opacity: 1;
    z-index: 9;
    transition: all .1s linear;
}
span#error:before {
    content: "\f071";
    font-family: 'FontAwesome';
    margin-left: 20px;
    font-size: 30px;
    color: #632525;
}

/*** Repos Container ***/
div#content {
    width: 80%;
    background: rgb(255, 255, 255);
    padding: 160px 70px 60px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    color: rgb(195, 195, 195);
    margin-top: -90px;
    font-size: 15px;
}

/* Repos Counter */
.counter {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    padding: 10px;
    background: var(--main);
    color: #ffffff;
    border-radius: 5px;
    font-family: inherit;
}

/* Repos Title */
h3 {
    width: 100%;
    font-weight: 900;
    line-break: anywhere;
    background: var(--main);
    color: rgb(45 45 45);
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 10px;
    min-height: 90px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
h3::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: var(--main) transparent transparent;
    bottom: -18px;
}
div h3:first-child{
    margin-top: 40px;
}

/* Repos views */
li.views {
    list-style: none;
    width: 80px;
    color: #5e5e5e;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    bottom: 18px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.views:before {
    content: "\f06e";
    font-family: FontAwesome;
    color: #5e5e5e;
    padding-left: 6px;
}

/** Repo Container **/
.contain {
    border-radius: 0px 0px 10px 10px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 5px;
    gap: 27px;
    width: 220px;
    margin-top: -20px;
    background: #efefef;
}
.contain {
    cursor: help;
    transition: all .2s;
}
.contain:hover{
    margin-top: -35px;
    box-shadow: 14px 29px 30px #00000026;
}
#repos{
    display: flex;
    flex-wrap: wrap;
    gap: 100px 25px;
    justify-content: center;
}

/* Description */
li.description {
    overflow: hidden;
    list-style: none;
    padding: 10px;
    color: #9d9d9d;
    width: 93%;
    height: 60px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Visit Link Button */
a.visit:before {
    content: "\f08e";
    font-family: FontAwesome;
    margin-left: 10px;
    font-size: 14px;
}
a.visit {
    text-decoration: none;
    color: #5e5e5e;
    background: #dbdbdb;
    padding: 8px 13px;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all .2s;
}
a.visit:hover {
    background: #c3c3c3;
}

/* Copyright Text */
.copyright {
    margin-top: 100px;
    text-align: center;
}

/* Small Screens Response */
@media (max-width: 630px) {
    .wrapper h1 {
        font-size: 20px;
        text-align: center;
    }
    input#username{
        width: 200px;
        font-size: 13px;
        height: 20px;
    }
    h2{
        font-size: 12px;
    }
    div#content{
        padding: 160px 30px 60px;

    }
    .sidebtns {
        display: none;
    }
}

/* Side Buttons */
.sidebtns {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
    align-items: center;
}
.sidebtns i {
    background: #ffffff;
    color: #2f2f2f;
    padding: 9px;
    box-shadow: -2px 3px 5px #0006;
    width: 15px;
    height: 15px;
    font-size: 13px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.sidebtns i::after {
    font-size: 13px;
    font-weight: 500;
    content: attr(data-tooltip);
    position: absolute;
    width: max-content;
    font-family: Tajawal;
    text-align: center;
    right: 42px;
    color: #2f2f2f8f;
    visibility: hidden;
}
.sidebtns i:hover::after{
    visibility: visible;
}
@media (max-width: 630px) {
    .sidebtns {
        display: none;
    }
}
